* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0; 
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: row; 
}

.side-bar {
  background-color: rgb(19, 16, 16);
  color: white;
}

.side-bar h3 {
  background-color: rgb(128, 120, 120);
  margin-top: auto;
  padding: 10px 7px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.side-bar-container {
  display: block;
  position: relative;
  right: 40px;
}

.side-items {
  list-style-type: none;
  margin-left: auto;
}

.side-items li {
  margin-bottom: 18px;
  background-color: rgb(14, 12, 12);
  border-bottom: 8px solid silver;
  padding: 7px 10px;
  width: 239px;
  cursor: pointer;
}

.side-items li:hover {
  background-color: rgb(43, 41, 41);
}

.main-div h1 {
  width: 300px;
  padding: 7px;
  color: white;
  background-color:darkgoldenrod;
}

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.first-section ul img {
  width: 160px;
  height: 250px;
  cursor: pointer;
}

.the-list {
  list-style-type: none;
  width: 171px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5em;
  width: 100%;
  color: brown;
}

.buttons div {
  cursor: pointer;
  user-select: none;
}

.title-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 7px 10px;
}

.title-details h3 {
  background-color: rgb(182, 139, 60);
  padding: 8px;
  color: white;
}

.title-details p {
  line-height: 30px;
  background-color:rgb(230, 221, 221);
  padding: 7px;
}

.suggested {
  margin-top: 30px;
  padding: 8px 12px;
} 

.suggest-header {
  line-height: 10px;
  text-align: center;
  font-size: 1.1em;
  color: rgb(44, 42, 42);
}

.hottest-takes {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.id-h3 {
  color: rgb(44, 42, 42);
  font-size: 2.2em;
  border-bottom: 3px solid silver;
}

.hottest-header {
  line-height: 10px;
  margin-bottom: 20px;
}

.hottest-takes img {
  width: 350px;
  height: 420px;
}

.hottest-takes p {
  padding: 8px 12px;
}

.reviews-list {
  list-style-type: none;
}

.reviews-list li {
  background-color: rgb(82, 75, 75);
  color: white;
  padding: 10px 12px;
}

@media screen and (min-width: 350px) {

  .side-bar {
    min-height: 100vh;
  }
}

/* @media screen and (max-width: 700px) {

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .side-bar {
    min-height: 50%;
    width: 100%;
  }

  .side-bar h3 {
    display: none;
  }

  .side-bar-container {
    position: static;
  }

  .side-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .side-items li {
    cursor: pointer;
  }
} */ 